/*Desktop */
.sidebar {
  width: 260px;
  height: 133.5vh;
  background: #0f172a;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1e293b;
}

/* LOGO */
.sidebar__logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #60a5fa;
}

/* NAV */
.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* LINK BASE */
.link {
  text-decoration: none;
  color: #94a3b8;
  padding: 12px 14px;
  border-radius: 10px;
  transition: all 0.2s ease;
}

/* HOVER */
.link:hover {
  background: #1e293b;
  color: white;
}

/* ACTIVE ROUTE */
.active {
  background: linear-gradient(135deg, #3b82f6, #8b5cf6);
  color: white;
  font-weight: 600;
  box-shadow: 0 4px 20px rgba(59, 130, 246, 0.3);
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar__nav {
    flex-direction: row;
    gap: 8px;
  }

  .link {
    padding: 10px;
    font-size: 14px;
  }

  .sidebar__logo {
    margin-bottom: 0;
  }
}
